.main{
    background-color: #f5e5b6;
    ;
}
.navbar{
    margin-top: 1%;
    margin-bottom: 1%;
    height: 100px;
    background-color:#2e2407;
}
.nav-item{
    padding-right: 10%;
}
.navbar img{
    border:2px  dashed crimson;
    border-radius: 1%;
}
.nav-item a{
    color: white;
    text-decoration: none;
    justify-content:space-evenly;
    text-align: center;
}
.nav-item :hover{
    text-decoration: none;
    color: grey;
}
.carousel{
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;
    height:50%;
}

.carousel img{
    width: 70%;
    height: 500px;
    border:3px  dashed crimson;
    border-radius: 2%;
}
.row{
    display:flex;
    justify-content: center;
}
.container {
    display:flex;
    justify-content: center;
    flex-direction: row;
    
}
.card{
    border:2px dashed  blue;
    border-radius: 2%;
    background-color: lightblue;
    margin: 10px;
}
.card:hover{
    border:2px dashed  rgb(112, 112, 248);
    background-color: rgb(79, 202, 243);
}

.card button{
    margin-left:30px ;
    border:1px solid rgb(20, 18, 18);
    background-color: rgb(241, 124, 216);
    width: 200px;
}
.footer{
    text-align: center;
    background: linear-gradient(to right, #fdbc08 0%, #55e7a0 100%);
    bottom: 0%;
    height: 40px;
}
.col-md-8{
    display: flex;
    border-color: crimson;
}